
.videoview {
	border-radius: 15rpx 15rpx 15rpx 15rpx;
	box-shadow: #c9c9c9 0px 0px 10rpx 5rpx;
	margin-bottom:30rpx;
}

.sdgj {
	font-size: 25rpx;
	background-color: #F0F0F0;
	font-size: 25rpx;
	line-height: 40rpx;
	padding: 0rpx 10rpx;
	border-radius: 10rpx;
	margin-right: 15rpx;
	margin-bottom: 15rpx;
}


.dozjovoew {
	box-shadow: #c9c9c9 0px 0px 10rpx 5rpx;
	margin: 25rpx;
	border-radius: 15rpx;
	padding: 30rpx 30rpx;
}

.gongsidizhi {
	font-size: 40rpx;
	font-weight: bold;
}

.videoimg {
	width: 345rpx;
	height: 365rpx;
	border-radius: 15rpx 15rpx 0rpx 0rpx;
}

.videoview {
	border-radius: 15rpx 15rpx 15rpx 15rpx;
	box-shadow: #c9c9c9 0px 0px 10rpx 5rpx;
	margin-bottom:30rpx;
}